.toast-col {
    margin-bottom: 10px;
}

.cell {
    width: 100%;
    text-align: center;
    font-size: 2.4em;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.cell-green {
    background-color: #0a3622;
    color: #FFF;
}

.cell-orange {
    background-color: #9a3412;
    color: #FFF;
}

.cell-red {
    background-color: #630e10;
    color: #FFF;
}

.interval {
    cursor: pointer;
}

.activeInterval {
    font-weight: bold;
}