.cell {
    width: 100%;
    text-align: center;
    font-size: 3.6em;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.cell-green {
    background-color: #0a3622;
    color: #FFF;
}

.cell-red {
    background-color: #630e10;
    color: #FFF;
}